name: Build

on:
  pull_request:

jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup pnpm
      uses: pnpm/action-setup@v4

    - name: Cache Node dependencies
      uses: actions/setup-node@v4
      with:
        cache: pnpm

    - name: Cache Rust workspace
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: rust

    - name: Install Node dependencies
      run: pnpm install

    - name: Build project
      run: pnpm run build
